# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\djim1\Desktop\sindos\2o eksamino\Antikeimenostrefhs\lab\Lab2\E03anadromi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
